$(TOP)/Make.config.inc: $(TOP)/Make.config $(GIT_DIR)/index
	@rm -f $@
	@printf "SOM_COMMIT_DISTANCE:=$(shell LANG=C; export LANG && git --git-dir $(GIT_DIR) log `git --git-dir $(GIT_DIR) blame HEAD -- $(abspath $(TOP)/Make.config) | grep SOM_PACKAGE_VERSION= | sed 's/ .*//' `..HEAD --oneline | wc -l | sed 's/ //g')\n" >> $@
-include $(TOP)/Make.config.inc

#
# ⚠️ README ⚠️
#
# A release branch requires updating:
#
# SOM_PACKAGE_VERSION (major/minor #)
# SOM_PACKAGE_VERSION_REV (set to 0 and increment for service releases or previews)
# (and updating the same on master as well, to next version)
#

#
# For developer builds, we check with git which branch is the current one.
# CI builds the SOM_BRANCH variable should already be set.
#

ifeq ($(SOM_BRANCH),)
SOM_BRANCH:=$(shell git rev-parse --abbrev-ref HEAD)
endif

# TODO: reset to 0 after major/minor version bump (SRO) and increment for service releases and previews
# Note: if not reset to 0 we can skip a version and start with .1 or .2
SOM_PACKAGE_VERSION_REV=0

SOM_PRODUCT=BindingToolsForSwift
SOM_PACKAGE_NAME=BindingToolsForSwift
SOM_PACKAGE_VERSION=0.2.$(SOM_PACKAGE_VERSION_REV).$(SOM_COMMIT_DISTANCE)

# The Xcode we need.
# Use the path as used in the Azure Pipelines vm images.
XCODE_VERSION=10.2.1
XCODE_URL=http://xamarin-storage/bot-provisioning/xcodes/Xcode_10.2.1.xip
XCODE_DEVELOPER_ROOT=/Applications/Xcode_10.2.1.app/Contents/Developer

# Minimum Mono version we need
MIN_MONO_VERSION=6.4.0.0
MAX_MONO_VERSION=6.4.0.999
MIN_MONO_URL=https://download.visualstudio.microsoft.com/download/pr/5b7dcb51-3035-46f7-a8cb-efe3a1da351c/dcba976cd3257636b6b2828575d29d3c/monoframework-mdk-6.4.0.208.macos10.xamarin.universal.pkg

# XI version we need
MIN_XI_VERSION=12.0.0.15
MAX_XI_VERSION=12.0.0.15
MIN_XI_URL=https://download.visualstudio.microsoft.com/download/pr/28396824-ecde-429e-9693-0da9382e1474/debd3c099bf5a516b964675c2628e601/xamarin.ios-12.0.0.15.pkg

# XM version we need
MIN_XM_VERSION=5.0.0.0
MAX_XM_VERSION=5.0.0.0
MIN_XM_URL=https://download.visualstudio.microsoft.com/download/pr/3849ffa9-0763-4727-8ae1-d67da9a6e60c/5c02d563ef9568fa79ba6dcf0cfeabd0/xamarin.mac-5.0.0.0.pkg

# Minimum macOS version for building
MIN_MACOS_BUILD_VERSION=10.14.3
