$(TOP)/Make.config.inc: $(TOP)/Make.config $(GIT_DIR)/index
	@rm -f $@
	@printf "SOM_COMMIT_DISTANCE:=$(shell LANG=C; export LANG && git --git-dir $(GIT_DIR) log `git --git-dir $(GIT_DIR) blame HEAD -- $(abspath $(TOP)/Make.config) | grep SOM_PACKAGE_VERSION= | sed 's/ .*//' `..HEAD --oneline | wc -l | sed 's/ //g')\n" >> $@
-include $(TOP)/Make.config.inc

#
# ⚠️ README ⚠️
#
# A release branch requires updating:
#
# SOM_PACKAGE_VERSION (major/minor #)
# SOM_PACKAGE_VERSION_REV (set to 0 and increment for service releases or previews)
# (and updating the same on main as well, to next version)
#

#
# For developer builds, we check with git which branch is the current one.
# CI builds the SOM_BRANCH variable should already be set.
#

ifeq ($(SOM_BRANCH),)
SOM_BRANCH:=$(shell git rev-parse --abbrev-ref HEAD)
endif

# TODO: reset to 0 after major/minor version bump (SRO) and increment for service releases and previews
# Note: if not reset to 0 we can skip a version and start with .1 or .2
SOM_PACKAGE_VERSION_REV=0

SOM_PRODUCT=BindingToolsForSwift
SOM_PACKAGE_NAME=BindingToolsForSwift
SOM_PACKAGE_VERSION=0.2.$(SOM_PACKAGE_VERSION_REV).$(SOM_COMMIT_DISTANCE)

# The Xcode we need.
# Use the path as used in the Azure Pipelines vm images.
XCODE_VERSION=12.0.1
XCODE_URL=http://xamarin-storage/bot-provisioning/xcodes/Xcode_12.0.1.xip
XCODE_DEVELOPER_ROOT=/Applications/Xcode_12.0.1.app/Contents/Developer

# Minimum Mono version we need
MIN_MONO_VERSION=6.12.0.90
MAX_MONO_VERSION=6.12.0.90
MIN_MONO_URL=https://download.mono-project.com/archive/6.12.0/macos-10-universal/MonoFramework-MDK-6.12.0.90.macos10.xamarin.universal.pkg

# XI version we need
MIN_XI_VERSION=14.2.0.12
MAX_XI_VERSION=14.2.0.12
MIN_XI_URL=https://download.visualstudio.microsoft.com/download/pr/7b60a920-c8b1-4798-b660-ae1a7294eb6d/bbdc2a9c6705520fd0a6d04f71e5ed3e/xamarin.ios-14.2.0.12.pkg

# XM version we need
MIN_XM_VERSION=6.20.2.2
MAX_XM_VERSION=6.20.2.2
MIN_XM_URL=https://download.visualstudio.microsoft.com/download/pr/b089be2f-932a-40ab-904b-b626f9e6427b/6aad9f3ea4fbfb92ce267e0f60b34797/xamarin.mac-6.20.2.2.pkg

# Minimum macOS version for building
MIN_MACOS_BUILD_VERSION=10.15.4

MIN_CMAKE_VERSION=3.18.4
